.debugger {
  width: 100%;
  height: 100%;
  background-color: #1b1b1b73;

  .titlebar {
    position: absolute;
    top: 10px;
    height: 20px;
    padding: 0px 4px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: #ffff87;

    .resume {
      display: flex;
      padding-left: 4px;
      cursor: pointer;
      svg {
        path {
          fill: #FA6400;
        }
      }
    }
  }
}
